#products-section {
    background-image: url(../img/maxim-berg-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .card {
        border: darken($primary, 30%) 2px solid;
        
        img {
            filter: grayscale(70%);
            transition: filter 200ms ease-in-out;
        }

        h5 {
            font-family: $font-family-secondary;
        }
    }

    .card:hover {
        img {
            filter: grayscale(0%);
        }
    }

}