#products-section {
    //background-color: #fba8d4;
    //background: linear-gradient(180deg, #463470 0, #fba8d4 0.5, #f8dcde 1);
    //background: linear-gradient(180deg, #463470 0, #fba8d4 1);
    //background: linear-gradient(180deg, #222 0, #463470 1);
    background: linear-gradient(180deg, #222 0, #291d42 1);

    .card {
        border: $primary 2px solid;
        //box-shadow: 0 0 10px $primary;
        img {
            filter: grayscale(70%);
            transition: filter 200ms ease-in-out;
        }

        h5 {
            font-family: $font-family-secondary;
        }
    }

    .card:hover {
        img {
            filter: grayscale(0%);
        }
    }

}